<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <script src="https://unpkg.com/cursor-effects@latest/dist/browser.js"></script>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    <div id="particles-js"></div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="./js/script.js"></script>
    
  </body>

</html>
