<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}
  <link rel="stylesheet" href="/assets/css/pstyle.css">

  <body>
    <div id="particles-js"></div>

    {%- include header.html -%}
    
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <script src="https://unpkg.com/cursor-effects@latest/dist/browser.js"></script>
        {{ content }}
      </div>
    </main>
    
    {%- include footer.html -%}
    
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="/js/script.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SND56RB6P3"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SND56RB6P3');
      
</script>
  </body>

</html>
